TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_WHATSAPP_NUMBER=whatsapp:+1**********
ALLOWED_NUMBERS=your_number_here
WEEKLY_REPORT_RECIPIENTS=your_number_here
GITHUB_TOKEN=your_github_token_here
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email_here
GOOGLE_PRIVATE_KEY=your_private_key_here
PORT=3000
WEEKLY_CRON=0 2 * * 0
